Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-CORS==4.0.0
Werkzeug==2.3.7
SQLAlchemy==2.0.21
requests==2.31.0
alembic==1.12.0
psycopg2-binary
boto3
botocore
s3transfer==0.7.0
celery
redis
python-dotenv
requests-aws4auth
llama-index>=0.10.0
llama-parse>=0.1.3
nest-asyncio
beautifulsoup4
pandas
numpy
scipy
cassandra-driver
llama-index-vector-stores-astra-db
llama-cloud-services

